<form method="post" action="/datafilter">
  <fieldset>
	<input type="hidden" name="url" value="/*{{.URL}}*/" />
  	<label for="TimeFrom">Time period:</label>
	<input type="datetime-local" id="TimeFrom" name="TimeFrom" 
		min="/*{{.MinimumTime}}*/" max="/*{{.MaximumTime}}*/"
		value="/*{{.StartTime}}*/" />
  	<label for="TimeTo">&nbsp;-&nbsp;</label>
	<input type="datetime-local" id="TimeTo" name="TimeTo" 
		min="/*{{.MinimumTime}}*/" max="/*{{.MaximumTime}}*/"
		value="/*{{.FinishTime}}*/" />
	<button type="submit">Ок</button>
	<button type="reset">Cancel</button>
  </fieldset>
</form>