<form method="post" action="/datafilter">
  <fieldset>
	<input type="hidden" name="url" value="{{.Url}}" />
  	<label for="TimeFrom">Данные отобраны с:</label>
	<input type="datetime-local" id="TimeFrom" name="TimeFrom" 
		min="{{.MinimumTime}}" max="{{.MaximumTime}}"
		value="{{.StartTime}}" style="width:150px"/>
  	<label for="TimeTo">по:</label>
	<input type="datetime-local" id="TimeTo" name="TimeTo" 
		min="{{.MinimumTime}}" max="{{.MaximumTime}}"
		value="{{.FinishTime}}" style="width:150px"/>
	<button type="submit">Ок</button>
	<button type="reset">Cancel</button>
  </fieldset>
</form>